/* CSS für die Anleitung und Credits */


/*CREDITS Credits.html */

#body {
  display: flex;
  flex-direction: column;
  background-color: #041E27;
  background-size: 100%;
} /*Hintergrund */

#credits {
  text-align: center; margin-left:45%;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  height: 650px;
  width: 650px;
  display:flex;
  align-self: flex-end;
} /*Credits Abspann */

#zurueck {
  border: 2px solid #ffff00;
  margin-left: 75%;
    
  /* Schriftfarbe ändern */
  color: #0080ff;
    
  /* Hintergrundfarbe */
  background-color: #ffff00;
    
  /* Ecken des Rahmen sollen abgerundet werden */
  border-radius: 10px;
    
  /* Schriftart */
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    
  /* Breite und Höhe definieren */
  height: 40px;
  width: 260px;
    
  position: absolute;
} /*Zurueck Button */

/* Um die Hintergrundfarbe zu ändern neue Klasse öffnen hover*/
#zurueck:hover {
    background-color: #bf00ff;
}


/* ANLEITUNG Anleitung.html */

#body2 {
  display: flex;
  flex-direction: column;
  background-color: #041E27;
  background-size: 100%;
} /*Hintergrund */

#zrk {
    border: 2px solid #ffff00;
    margin-left: 75%;
        
    /* Schriftfarbe ändern */
    color: #0080ff;
    
    /* Hintergrundarbe */
    background-color: #ffff00;
    
    /* Ecken des Rahmen sollen abgerundet werden */
    border-radius: 10px;
    
    /* Schriftart */
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    
    /* Breite und Höhe definieren */
    height: 40px;
    width: 260px;
    
    position: absolute;
} /* zrk Button */

 /* Um die Hintergrundfarbe zu ändern neue Klasse öffnen hover */
#zrk:hover {
  background-color: #b3738c;
}
